<section>
  <button class="new-button" mat-raised-button color="primary" (click)="onCreate()">Create new <mat-icon>playlist_add</mat-icon></button>
</section>

<section class="new-training" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">



  <mat-card fxFlex.xs="100%" >
      <mat-card-title fxLayoutAlign="center">Note 1 </mat-card-title>
      <mat-card-content fxLayoutAlign="center" fxLayoutGap="10px">
        <button mat-raised-button (click)="onOpen(5)" color="primary">Открыть</button>
        <button mat-raised-button >Распечатать</button>
      </mat-card-content>
    </mat-card>

  <mat-card fxFlex.xs="100%" >
      <mat-card-title fxLayoutAlign="center">Note 2 </mat-card-title>
      <mat-card-content fxLayoutAlign="center" fxLayoutGap="10px">
        <button mat-raised-button  color="primary">Открыть</button>
        <button mat-raised-button >Распечатать</button>
      </mat-card-content>
    </mat-card>

  <mat-card fxFlex.xs="100%" >
    <mat-card-title fxLayoutAlign="center">Note 3</mat-card-title>
    <mat-card-content fxLayoutAlign="center" fxLayoutGap="10px">
      <button mat-raised-button color="primary">Открыть</button>
      <button mat-raised-button >Распечатать</button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.xs="100%" >
    <mat-card-title fxLayoutAlign="center">Note 4</mat-card-title>
    <mat-card-content fxLayoutAlign="center" fxLayoutGap="10px">
      <button mat-raised-button  color="primary">Открыть</button>
      <button mat-raised-button >Распечатать</button>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.xs="100%" >
    <mat-card-title fxLayoutAlign="center">Note 5 тест тест тест тест тест тест тест тест тест</mat-card-title>
    <mat-card-content fxLayoutAlign="center" fxLayoutGap="10px">
      <button mat-raised-button  color="primary">Открыть</button>
      <button mat-raised-button >Распечатать</button>
    </mat-card-content>
  </mat-card>

</section>
