<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Title 1</h1>
    <p>Decsription for Title1</p>
  </section>
  <section>
    <h1>Title 2</h1>
    <p>Decsription for Title2</p>
  </section>
  <section>
    <h1>Title 3</h1>
    <p>Decsription for Title3</p>
  </section>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px" class="update-note">

  <mat-card fxFlex.xs="100%" class="new-note" fxFlex="20">
    <mat-card-title fxLayoutAlign="center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Заглавие" value="">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-list>
        <div *ngFor="let name of names; let i = index" [style.height]="lineHeight">
          <mat-list-item  [style.font-size]="fontSize">
            <p>{{name}}</p>
            <button mat-icon-button [attr.data-index]="i" (click)="onNameDelete($event)"><mat-icon [attr.data-index]="i">delete_sweep</mat-icon></button>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions fxLayout   fxLayoutAlign="space-around start">
      <button mat-raised-button >Распечатать</button>
      <button mat-raised-button >Скачать PDF</button>
    </mat-card-actions>
  </mat-card>

  <section fxFlex="80">
    <app-update-note save="0"></app-update-note>
  </section>
</div>
