<mat-card >
    <mat-card-actions *ngIf="save == 1" fxLayoutAlign="center">
        <button mat-raised-button (click)="saveNote()" color="warn">Сохранить</button>
    </mat-card-actions>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout fxLayoutGap="10px">
            <p>Шрифт</p>
            <mat-slider min="8" max="32" step="1" (input)="sliderFont($event)" value="16"></mat-slider>
            <p>Высота</p>
            <mat-slider min="3" max="50" step="1" (input)="sliderHeight($event)" value="28"></mat-slider>

            <p><mat-checkbox [checked]="confirmation" (change)="oncheck()">Удаление имен без подтверждения</mat-checkbox></p>

        </div>

        <div class="names-div">
            <mat-list class="names" fxLayout="column" fxLayoutGap="10px">
                <mat-list-item *ngFor="let obj of namesList; let i = index" (click) ="addName($event)">
                    <p>{{obj.name}}</p>
                </mat-list-item>
            </mat-list>
        </div>

    </mat-card-content>
</mat-card>