.names-div {
    width: 100%;
    overflow: auto;
}

.names {
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}

mat-list-item {
    height: 14px !important;
    padding: 5px !important;
    margin: 0 !important;
}

mat-list-item:hover  {
    background-color: lightgray;
    cursor: pointer;
}

mat-list-item:active  {
    background-color: grey;
}

mat-card{
    margin-bottom: 30px;
}