<mat-tab-group *ngIf="!currentNote">
  <mat-tab label="Простые">
    <app-new-training (openNote)="openNote($event)"></app-new-training>
  </mat-tab>
  <mat-tab label="List2">
    <app-second-list></app-second-list>
  </mat-tab>
</mat-tab-group>
<app-current-note *ngIf="currentNote" (return)="onReturn()"></app-current-note>
